@model MVC.Models.BookModel
@{
    ViewData["Title"] = "Form";
}

<h1>Book Form</h1>

<form method="post">
    <label asp-for="BookTitle">Book title:</label>
    <input asp-for="BookTitle" />
    <span asp-validation-for="BookTitle"></span>

    <label asp-for="Author">Author:</label>
    <input asp-for="Author" />
    <span asp-validation-for="Author"></span>

    <label asp-for="Year">Year:</label>
    <input asp-for="Year" />
    <span asp-validation-for="Year"></span>

    <label asp-for="Rating">Rating:</label>
    <select asp-for="Rating">
        <option value=""> - </option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <input asp-for="HaveRead" type="checkbox" />
    <label asp-for="HaveRead">I have read this book</label>

    <input type="submit" value="Add book" />
</form>